<section class="analitycs menu">
    <div class="container menu">
        <div class="row">
            <div class="col-md-6">
                <a href="#!/pleromapanel" class="logopanel">
                    <img src="images/pleroma-c.svg" alt="" title="" />
                </a>
            </div>
            <div class="col-md-6">
                <p class="latex">Latencia: 125 ms</p>
                <ul class="menutop">
                    <li>
                        <a href="">
                            <img src="images/menu1.svg" alt="" title="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/menu2.svg" alt="" title="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/menu3.svg" alt="" title="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/menu4.svg" alt="" title="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>