<ul class="menulateral gnosis">
    <li ng-class="{active: $route.current.activetab == 'gnosisupload'}">
        <a href="#!/upload">
            <img src="images/upload-b.svg" alt="" title="" />
            <div class="textos">
                <h3>Upload</h3>
            </div>
        </a>
    </li>
    <li ng-class="{active: $route.current.activetab == 'gnosisdata'}">
        <a href="#!/gnosisdata">
            <img src="images/conciliaciones-b.svg" alt="" title="" />
            <div class="textos">
                <h3>Conciliaciones</h3>
            </div>
        </a>
    </li>
    <li ng-class="{active: $route.current.activetab == 'gnosisreportes'}">
        <a href="#!/gnosisreportes">
            <img src="images/reportes-b.svg" alt="" title="" />
            <div class="textos">
                <h3>Reportes</h3>
            </div>
        </a>
    </li>
    
    <li ng-class="{active: $route.current.activetab == 'gnosisbases'}">
        <a href="#!/gnosisbases">
            <img src="images/basesdedatos-b.svg" alt="" title="" />
            <div class="textos">
                <h3>Bases de datos</h3>
            </div>
        </a>
    </li>
    <li class="baz">
        <a href="#!/pretrade">
            <img src="images/telos-c.svg" alt="" title="" />
            <div class="textos">
                <h3>Reportes Regulatorios y Riesgos</h3>
            </div>
        </a>
    </li>
    <li class="baz">
        <a href="#!/pretrade">
            <img src="images/pleroma-d.svg" alt="" title="" />
            <div class="textos">
                <h3>Business Analytics (BA)</h3>
            </div>
        </a>
    </li>
</ul>