<ul class="menulateral">
    <li ng-class="{active: $route.current.activetab == 'analitycs'}">
        <a href="#!/analitycs">
            <img src="images/libra/menulateral1.svg" alt="" title="" />
            <div class="textos">
                <h3>EXP. ÚNICO<br>PERSONA FÍSICA</h3>
            </div>
        </a>
    </li>
    <li ng-class="{active: $route.current.activetab == 'eupm'}">
        <a href="#!/eupm">
            <img src="images/libra/menulateral2.svg" alt="" title="" style="width:120px;" />
            <div class="textos">
                <h3>EXP. ÚNICO<br>PERSONA MORAL</h3>
            </div>
        </a>
    </li>
    <li ng-class="{active: $route.current.activetab == 'cierre'}">
        <a href="#!/cierre">
            <img src="images/libra/menulateral3.svg" alt="" title="" style="" style="width:100px;" />
            <div class="textos">
                <h3>REPORTE DE CIERRE</h3>
            </div>
        </a>
    </li>
    <li ng-class="{active: $route.current.activetab == 'apin'}">
        <a href="#!/apin">
            <img src="images/libra/menulateral4.svg" alt="" title="" style="" style="width:110px;" />
            <div class="textos">
                <h3>ANÁLISIS POR INTRUMENTO NOTARIAL</h3>
            </div>
        </a>
    </li>
</ul>
