<div ng-include="'partials/menutop.html'"></div>

<section class="analytics contenido">
    <div class="container">
        <div class="col-md-2 menuc">
            <div ng-include="'partials/menulateral.html'"></div>
        </div>
        <div class="col-md-10 contenido">
            <div class="container statistics">
                <div class="row">
                    <div class="col-md-6">

                      <div id="cierre" style="width:100%; height:300px;"></div>
                      <script>
                      var chart = AmCharts.makeChart( "cierre", {
                      "type": "serial",
                      "addClassNames": true,
                      "theme": "none",
                      "autoMargins": false,
                      "marginLeft": 30,
                      "marginRight": 8,
                      "marginTop": 10,
                      "marginBottom": 26,
                      "balloon": {
                      "adjustBorderColor": false,
                      "horizontalPadding": 10,
                      "verticalPadding": 8,
                      "color": "#ffffff"
                      },

                      "dataProvider": [ {
                      "year": 2009,
                      "income": 23.5,
                      "expenses": 21.1
                      }, {
                      "year": 2010,
                      "income": 26.2,
                      "expenses": 30.5
                      }, {
                      "year": 2011,
                      "income": 30.1,
                      "expenses": 34.9
                      }, {
                      "year": 2012,
                      "income": 29.5,
                      "expenses": 31.1
                      }, {
                      "year": 2013,
                      "income": 30.6,
                      "expenses": 28.2,
                      "dashLengthLine": 5
                      }, {
                      "year": 2014,
                      "income": 34.1,
                      "expenses": 32.9,
                      "dashLengthColumn": 5,
                      "alpha": 0.2,
                      "additional": "(projection)"
                      } ],
                      "valueAxes": [ {
                      "axisAlpha": 0,
                      "position": "left"
                      } ],
                      "startDuration": 1,
                      "graphs": [ {
                      "alphaField": "alpha",
                      "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                      "fillAlphas": 1,
                      "title": "Income",
                      "type": "column",
                      "valueField": "income",
                      "dashLengthField": "dashLengthColumn"
                      }, {
                      "id": "graph2",
                      "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                      "bullet": "round",
                      "lineThickness": 3,
                      "bulletSize": 7,
                      "bulletBorderAlpha": 1,
                      "bulletColor": "#FFFFFF",
                      "useLineColorForBulletBorder": true,
                      "bulletBorderThickness": 3,
                      "fillAlphas": 0,
                      "lineAlpha": 1,
                      "title": "Expenses",
                      "valueField": "expenses",
                      "dashLengthField": "dashLengthLine"
                      } ],
                      "categoryField": "year",
                      "categoryAxis": {
                      "gridPosition": "start",
                      "axisAlpha": 0,
                      "tickLength": 0
                      },
                      "export": {
                      "enabled": true
                      }
                      } );
                      </script>
                    </div>

                    <div class="col-md-6">
                      <div class="input-group add-on">
                      <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                      </div>
                      <hr>
                      <div id="barras" style="width:100%;height:200px;"></div>
                      <script>
var charter = AmCharts.makeChart("barras", {
	"type": "serial",
     "theme": "none",
	"categoryField": "year",
	"rotate": true,
	"startDuration": 1,
	"categoryAxis": {
		"gridPosition": "start",
		"position": "left"
	},
	"trendLines": [],
	"graphs": [
		{
			"balloonText": "Income:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-1",
			"lineAlpha": 0.2,
			"title": "Income",
			"type": "column",
			"valueField": "income"
		},
		{
			"balloonText": "Expenses:[[value]]",
			"fillAlphas": 0.8,
			"id": "AmGraph-2",
			"lineAlpha": 0.2,
			"title": "Expenses",
			"type": "column",
			"valueField": "expenses"
		}
	],
	"guides": [],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"position": "top",
			"axisAlpha": 0
		}
	],
	"allLabels": [],
	"balloon": {},
	"titles": [],
	"dataProvider": [
		{
			"year": 2005,
			"income": 23.5,
			"expenses": 18.1
		},
		{
			"year": 2006,
			"income": 26.2,
			"expenses": 22.8
		},
		{
			"year": 2007,
			"income": 30.1,
			"expenses": 23.9
		},
		{
			"year": 2008,
			"income": 29.5,
			"expenses": 25.1
		},
		{
			"year": 2009,
			"income": 24.6,
			"expenses": 25
		}
	],
    "export": {
    	"enabled": true
     }

});
</script>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="status azul">Reporte de avances de Instrumentos ante el Registro Público de la Propiedad y del Comercio</h2>
                    <table class="table table-bordered reder">
                      <thead>
                        <tr>
                          <td>Cliente</td>
                          <td>Instrumento Núm.</td>
                          <td>Tipo de Instrumento</td>
                          <td>Fecha de Ingreso</td>
                          <td>Fecha tentativa de resolución</td>
                          <td>Días de atraso</td>
                          <td>Prioridad</td>
                          <td>Persona encargada del trámite</td>
                          <td>Status</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Alejandro Reyes Varela</td>
                          <td>7864563</td>
                          <td>Testamento</td>
                          <td>6 de noviembre de 2017</td>
                          <td>18 de diciembre de 2017</td>
                          <td>-</td>
                          <td>Alta</td>
                          <td>Marina Regalado</td>
                          <td>En ejecución</td>
                        </tr>
                        <tr>
                          <td>Abraxas biosystems</td>
                          <td>784567893</td>
                          <td>Poder en Materia Laboral</td>
                          <td>2 de marzo de 2017</td>
                          <td>13 de diciembre de 2017</td>
                          <td>-</td>
                          <td>Media</td>
                          <td>MJosé Luis Gutierrez</td>
                          <td>Cumplido</td>
                        </tr>
                        <tr>
                          <td>Gestell Analytics</td>
                          <td>293067893</td>
                          <td>Primer testimonio</td>
                          <td>2 de marzo de 2017</td>
                          <td>13 de diciembre de 2017</td>
                          <td>-</td>
                          <td>Media</td>
                          <td>MJosé Luis Gutierrez</td>
                          <td>Cumplido</td>
                        </tr>
                      </tbody>
                    </table>
                    <hr>
                    <h2 class="status azul">Reporte de avances de Instrumentos ante el Archivo General de Notarías</h2>
                    <table class="table table-bordered reder">
                      <thead>
                        <tr>
                          <td>Cliente</td>
                          <td>Instrumento Núm.</td>
                          <td>Tipo de Instrumento</td>
                          <td>Fecha de Ingreso</td>
                          <td>Fecha tentativa de resolución</td>
                          <td>Días de atraso</td>
                          <td>Prioridad</td>
                          <td>Persona encargada del trámite</td>
                          <td>Status</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Alejandro Reyes Varela</td>
                          <td>7864563</td>
                          <td>Testamento</td>
                          <td>6 de noviembre de 2017</td>
                          <td>18 de diciembre de 2017</td>
                          <td>-</td>
                          <td>Alta</td>
                          <td>Marina Regalado</td>
                          <td>En ejecución</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
