<div ng-include="'partials/menutop.html'"></div>

<section class="analytics contenido">
    <div class="container">
        <div class="col-md-2 menuc">
            <div ng-include="'partials/menulateral.html'"></div>
        </div>
        <div class="col-md-10 contenido">
            <div class="container statistics">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-6">
                            <select multiple="" class="form-control" id="sel2">
                              <option>Penélope García Belchi</option>
                              <option>David Rivera Castro</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <select multiple="" class="form-control" id="sel2">
                              <option>Testamento</option>
                              <option>Compra Venta</option>
                              <option>Poderes</option>
                            </select>
                          </div>
                        </div>
                        <h2 class="status roja">Perfil general</h2>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <td>Nombre</td>
                              <td>Penélope García Belchi</td>
                            </tr>
                            <tr>
                              <td>Estado Civil</td>
                              <td>Soltera</td>
                            </tr>
                            <tr>
                              <td>Nacionalidad</td>
                              <td>Mexicana</td>
                            </tr>
                            <tr>
                              <td>Lugar de Nacimiento</td>
                              <td>Jalapa, Veracruz</td>
                            </tr>
                            <tr>
                              <td>Ocupación</td>
                              <td>Administración de personal</td>
                            </tr>
                            <tr>
                              <td>Clave Única de Registro de Población</td>
                              <td>GABE80000123MDFLZ8</td>
                            </tr>
                            <tr>
                              <td>Registro Federal de Contribuyentes</td>
                              <td>GABE80000123</td>
                            </tr>
                            <tr>
                              <td>Domicilio Particular</td>
                              <td>Juan Salvador Agraz 97 piso 10, Cuajimalpa, Distrito >Federal</td>
                            </tr>
                            <tr>
                              <td>Domicilio Fiscal</td>
                              <td>Juan Salvador Agraz 97 piso 10, Cuajimalpa, Distrito >Federal</td>
                            </tr>
                            <tr>
                              <td>Teléfono</td>
                              <td>J044 5576 7898</td>
                            </tr>
                            <tr>
                              <td>Correo Electrónico</td>
                              <td>pgb@gmail.com</td>
                            </tr>
                            <tr>
                              <td>Número INE/IFE</td>
                              <td>87983223783743</td>
                            </tr>
                            <tr>
                              <td>Número de Pasaporte</td>
                              <td>87983223783743</td>
                            </tr>
                            <tr>
                              <td>Núm. de Cédula Profesional</td>
                              <td>87983223783743</td>
                            </tr>
                            <tr>
                              <td>Homoclave interna</td>
                              <td>PF/GABE8012233MDFLZ8</td>
                            </tr>
                            <tr>
                              <td>Abogado a cargo</td>
                              <td>José Luis Gutierrez Salas</td>
                            </tr>
                            <tr>
                              <td>Consideración en el pago</td>
                              <td>Cliente especial</td>
                            </tr>
                          </tbody>
                        </table>
                        <p class="fecha">Última actualización: 20 de noviembre de 2017</p>
                    </div>
                    <div class="col-md-4">
                      <p>Tipos de Instrumentos Otorgados</p>
                      <script>
var chart;
var legend;
var selected;

var types = [{
  type: "Fossil Energy",
  percent: 70,
  color: "#ff9e01",
  subs: [{
    type: "Oil",
    percent: 15
  }, {
    type: "Coal",
    percent: 35
  }, {
    type: "Nuclear",
    percent: 20
  }]
}, {
  type: "Green Energy",
  percent: 30,
  color: "#b0de09",
  subs: [{
    type: "Hydro",
    percent: 15
  }, {
    type: "Wind",
    percent: 10
  }, {
    type: "Other",
    percent: 5
  }]
}];

function generateChartData() {
  var chartData = [];
  for (var i = 0; i < types.length; i++) {
    if (i == selected) {
      for (var x = 0; x < types[i].subs.length; x++) {
        chartData.push({
          type: types[i].subs[x].type,
          percent: types[i].subs[x].percent,
          color: types[i].color,
          pulled: true
        });
      }
    } else {
      chartData.push({
        type: types[i].type,
        percent: types[i].percent,
        color: types[i].color,
        id: i
      });
    }
  }
  return chartData;
}

AmCharts.makeChart("chartdiv", {
  "type": "pie",
"theme": "none",

  "dataProvider": generateChartData(),
  "labelText": "[[title]]: [[value]]",
  "balloonText": "[[title]]: [[value]]",
  "titleField": "type",
  "valueField": "percent",
  "outlineColor": "#FFFFFF",
  "outlineAlpha": 0.8,
  "outlineThickness": 2,
  "colorField": "color",
  "pulledField": "pulled",
  "titles": [{
    "text": ""
  }],
  "listeners": [{
    "event": "clickSlice",
    "method": function(event) {
      var chart = event.chart;
      if (event.dataItem.dataContext.id != undefined) {
        selected = event.dataItem.dataContext.id;
      } else {
        selected = undefined;
      }
      chart.dataProvider = generateChartData();
      chart.validateData();
    }
  }],
  "export": {
    "enabled": true
  }
});
</script>

<!-- HTML -->
<div id="chartdiv" style="width:100%;height:300px;"></div>

                      <div id="cierre" style="width:100%; height:400px;"></div>
                      <script>
var chart = AmCharts.makeChart( "cierre", {
"type": "serial",
"addClassNames": true,
"theme": "none",
"autoMargins": false,
"marginLeft": 30,
"marginRight": 8,
"marginTop": 10,
"marginBottom": 26,
"balloon": {
  "adjustBorderColor": false,
  "horizontalPadding": 10,
  "verticalPadding": 8,
  "color": "#ffffff"
},

"dataProvider": [ {
  "year": 2009,
  "income": 23.5,
  "expenses": 21.1
}, {
  "year": 2010,
  "income": 26.2,
  "expenses": 30.5
}, {
  "year": 2011,
  "income": 30.1,
  "expenses": 34.9
}, {
  "year": 2012,
  "income": 29.5,
  "expenses": 31.1
}, {
  "year": 2013,
  "income": 30.6,
  "expenses": 28.2,
  "dashLengthLine": 5
}, {
  "year": 2014,
  "income": 34.1,
  "expenses": 32.9,
  "dashLengthColumn": 5,
  "alpha": 0.2,
  "additional": "(projection)"
} ],
"valueAxes": [ {
  "axisAlpha": 0,
  "position": "left"
} ],
"startDuration": 1,
"graphs": [ {
  "alphaField": "alpha",
  "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
  "fillAlphas": 1,
  "title": "Income",
  "type": "column",
  "valueField": "income",
  "dashLengthField": "dashLengthColumn"
}, {
  "id": "graph2",
  "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
  "bullet": "round",
  "lineThickness": 3,
  "bulletSize": 7,
  "bulletBorderAlpha": 1,
  "bulletColor": "#FFFFFF",
  "useLineColorForBulletBorder": true,
  "bulletBorderThickness": 3,
  "fillAlphas": 0,
  "lineAlpha": 1,
  "title": "Expenses",
  "valueField": "expenses",
  "dashLengthField": "dashLengthLine"
} ],
"categoryField": "year",
"categoryAxis": {
  "gridPosition": "start",
  "axisAlpha": 0,
  "tickLength": 0
},
"export": {
  "enabled": true
}
} );
</script>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group add-on">
                        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>
</section>
