<div ng-include="'partials/menutopgnosis.html'"></div>

<section class="analytics contenido">
    <div class="container spreder">
        <div class="col-md-3 menuc">
            <div ng-include="'partials/menugnosis.html'"></div>
        </div>
        <div class="col-md-9 spreder">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="conciliaciones">Resumen de la conciliación</h2>
                        <table class="table table-striped conciliaciones">
                            <tbody>
                              <tr>
                                <td>Aciertos (Matches)</td>
                                <td>90</td>
                              </tr>
                              <tr>
                                <td>Desaciertos (Mismatches)</td>
                                <td>10</td>
                              </tr>
                              <tr>
                                <td>Cantidad de cuentas revisadas:</td>
                                <td>100</td>
                              </tr>
                              <tr>
                                <td>Saldos Finales</td>
                                <td>$54,365.90</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h2 class="conciliaciones">Alertas</h2>
                        <table class="table table-striped alertas">
                            <thead>
                              <tr>
                                <th>Aciertos (Matches)</th>
                                <th>Revisión</th>
                                <th>Discrepancias (Mismatches)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>XXX</td>
                                <td>XXX</td>
                                <td>XXX</td>
                              </tr>
                              <tr>
                                <td>XXX</td>
                                <td>XXX</td>
                                <td>XXX</td>
                              </tr>
                              <tr>
                                <td>XXX</td>
                                <td>XXX</td>
                                <td>XXX</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row cca">
                            <div class="col-md-12">
                                <div id="cierre" style="width:100%; height:400px;"></div>
                                <script>
                                    (function(){
                                var chartData = generateChartData();
                                var chart = AmCharts.makeChart("cierre", {
                                    "type": "serial",
                                    "theme": "light",
                                    "legend": {
                                        "useGraphSettings": true
                                    },
                                    "dataProvider": chartData,
                                    "synchronizeGrid":true,
                                    "valueAxes": [{
                                        "id":"v1",
                                        "axisColor": "#FF6600",
                                        "axisThickness": 2,
                                        "axisAlpha": 1,
                                        "position": "left"
                                    }, {
                                        "id":"v2",
                                        "axisColor": "#FCD202",
                                        "axisThickness": 2,
                                        "axisAlpha": 1,
                                        "position": "right"
                                    }, {
                                        "id":"v3",
                                        "axisColor": "#B0DE09",
                                        "axisThickness": 2,
                                        "gridAlpha": 0,
                                        "offset": 50,
                                        "axisAlpha": 1,
                                        "position": "left"
                                    }],
                                    "graphs": [{
                                        "valueAxis": "v1",
                                        "lineColor": "#FF6600",
                                        "bullet": "round",
                                        "bulletBorderThickness": 1,
                                        "hideBulletsCount": 30,
                                        "title": "red line",
                                        "valueField": "visits",
                                                "fillAlphas": 0
                                    }, {
                                        "valueAxis": "v2",
                                        "lineColor": "#FCD202",
                                        "bullet": "square",
                                        "bulletBorderThickness": 1,
                                        "hideBulletsCount": 30,
                                        "title": "yellow line",
                                        "valueField": "hits",
                                                "fillAlphas": 0
                                    }, {
                                        "valueAxis": "v3",
                                        "lineColor": "#B0DE09",
                                        "bullet": "triangleUp",
                                        "bulletBorderThickness": 1,
                                        "hideBulletsCount": 30,
                                        "title": "green line",
                                        "valueField": "views",
                                                "fillAlphas": 0
                                    }],
                                    "chartScrollbar": {},
                                    "chartCursor": {
                                        "cursorPosition": "mouse"
                                    },
                                    "categoryField": "date",
                                    "categoryAxis": {
                                        "parseDates": true,
                                        "axisColor": "#DADADA",
                                        "minorGridEnabled": true
                                    },
                                    "export": {
                                        "enabled": true,
                                        "position": "bottom-right"
                                     }
                                });

                                chart.addListener("dataUpdated", zoomChart);
                                zoomChart();


                                // generate some random data, quite different range
                                function generateChartData() {
                                    var chartData = [];
                                    var firstDate = new Date();
                                    firstDate.setDate(firstDate.getDate() - 100);

                                        var visits = 1600;
                                        var hits = 2900;
                                        var views = 8700;


                                    for (var i = 0; i < 100; i++) {
                                        // we create date objects here. In your data, you can have date strings
                                        // and then set format of your dates using chart.dataDateFormat property,
                                        // however when possible, use date objects, as this will speed up chart rendering.
                                        var newDate = new Date(firstDate);
                                        newDate.setDate(newDate.getDate() + i);

                                        visits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);
                                        hits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);
                                        views += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);

                                        chartData.push({
                                            date: newDate,
                                            visits: visits,
                                            hits: hits,
                                            views: views
                                        });
                                    }
                                    return chartData;
                                }

                                function zoomChart(){
                                    chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
                                }
                            })();
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="chartRadar" style="width:100%; height: 300px;"></div>
                        <script>
                            (function(){
                            var chart = AmCharts.makeChart( "chartRadar", {
                          "type": "radar",
                          "theme": "light",
                          "dataProvider": [ {
                            "direction": "N",
                            "value": 8
                          }, {
                            "direction": "NE",
                            "value": 9
                          }, {
                            "direction": "E",
                            "value": 4.5
                          }, {
                            "direction": "SE",
                            "value": 3.5
                          }, {
                            "direction": "S",
                            "value": 9.2
                          }, {
                            "direction": "SW",
                            "value": 8.4
                          }, {
                            "direction": "W",
                            "value": 11.1
                          }, {
                            "direction": "NW",
                            "value": 10
                          } ],
                          "valueAxes": [ {
                            "gridType": "circles",
                            "minimum": 0,
                            "autoGridCount": false,
                            "axisAlpha": 0.2,
                            "fillAlpha": 0.05,
                            "fillColor": "#FFFFFF",
                            "gridAlpha": 0.08,
                            "guides": [ {
                              "angle": 225,
                              "fillAlpha": 0.3,
                              "fillColor": "#0066CC",
                              "tickLength": 0,
                              "toAngle": 315,
                              "toValue": 14,
                              "value": 0,
                              "lineAlpha": 0,

                            }, {
                              "angle": 45,
                              "fillAlpha": 0.3,
                              "fillColor": "#CC3333",
                              "tickLength": 0,
                              "toAngle": 135,
                              "toValue": 14,
                              "value": 0,
                              "lineAlpha": 0,
                            } ],
                            "position": "left"
                          } ],
                          "startDuration": 1,
                          "graphs": [ {
                            "balloonText": "[[category]]: [[value]] m/s",
                            "bullet": "round",
                            "fillAlphas": 0.3,
                            "valueField": "value"
                          } ],
                          "categoryField": "direction",
                          "export": {
                            "enabled": true
                          }
                        } );
                        })();
                        </script>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="sel1">Select list:</label>
                            <select class="form-control" id="sel1">
                                <optgroup label="Group 1">
                                    <optgroup label="Sub Group 1">
                                        <option>Item 1</option>
                                        <option>Item 2</option>
                                        <option>Item 3</option>
                                    </optgroup>
                                    <option>Item 2</option>
                                    <option>Item 3</option>
                                </optgroup>
                                <optgroup label="Group 2">
                                    <option>Item 1</option>
                                    <option>Item 2</option>
                                    <option>Item 3</option>
                                </optgroup>
                            </select>
                        </div> 
                    </div>
                </div>
                <div class="row" style="margin-top:35px;">
                    <div class="col-md-6">
                        <div id="transaccion" style="width:100%; height:300px;"></div>
                        <script>
                            var chartData = [];
                            function generateChartData() {
                                var firstDate = new Date();
                                firstDate.setTime(firstDate.getTime() - 10 * 24 * 60 * 60 * 1000);

                                for (var i = firstDate.getTime(); i < (firstDate.getTime() + 10 * 24 * 60 * 60 * 1000); i += 60 * 60 * 1000) {
                                    var newDate = new Date(i);

                                    if (i == firstDate.getTime()) {
                                        var value1 = Math.round(Math.random() * 10) + 1;
                                    } else {
                                        var value1 = Math.round(chartData[chartData.length - 1].value1 / 100 * (90 + Math.round(Math.random() * 20)) * 100) / 100;
                                    }

                                    if (newDate.getHours() == 12) {
                                        // we set daily data on 12th hour only
                                        var value2 = Math.round(Math.random() * 12) + 1;
                                        chartData.push({
                                            date: newDate,
                                            value1: value1,
                                            value2: value2
                                        });
                                    } else {
                                        chartData.push({
                                            date: newDate,
                                            value1: value1
                                        });
                                    }
                                }
                            }

                            generateChartData();

                            var chart = AmCharts.makeChart("transaccion", {
                                "type": "serial",
                                "theme": "light",
                                "marginRight": 20,
                                "dataProvider": chartData,
                                "valueAxes": [{
                                    "axisAlpha": 0.1
                                }],

                                "graphs": [{
                                    "balloonText": "[[title]]: [[value]]",
                                    "columnWidth": 20,
                                    "fillAlphas": 1,
                                    "title": "daily",
                                    "type": "column",
                                    "valueField": "value2"
                                }, {
                                    "balloonText": "[[title]]: [[value]]",
                                    "lineThickness": 2,
                                    "title": "intra-day",
                                    "valueField": "value1"
                                }],
                                "zoomOutButtonRollOverAlpha": 0.15,
                                "chartCursor": {
                                    "categoryBalloonDateFormat": "MMM DD JJ:NN",
                                    "cursorPosition": "mouse",
                                    "showNextAvailable": true
                                },
                                "autoMarginOffset": 5,
                                "columnWidth": 1,
                                "categoryField": "date",
                                "categoryAxis": {
                                    "minPeriod": "hh",
                                    "parseDates": true
                                },
                                "export": {
                                    "enabled": true
                                }
                            });
                        </script>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="sel1">Select list:</label>
                          <select class="form-control" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="sel1">Select list:</label>
                          <select class="form-control" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
