<div ng-include="'partials/menutopgnosis.html'"></div>

<section class="analytics contenido">
    <div class="container">
        <div class="col-md-3 menuc">
            <div ng-include="'partials/menugnosis.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row archivos" style="padding-top:90px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <select class="form-control" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="row archivos">
                    <div class="col-md-12">
                        <div align="center">
                            <table class="table table-striped">
                                <thead style="background:#394d52;color:#ffffff;text-align:center;">
                                  <tr>
                                    <th>#</th>
                                    <th>DATE</th>
                                    <th>TYPE</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>10/10/17</td>
                                    <td>LOREM</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
