<section class="panel">
    <div class="container">
        <div class="row menu">
            <div class="col-xs-6 col-md-6">
                <a href="" class="logopanel">
                    <img src="images/gestellw.svg" alt="" title="" />
                </a>
            </div>
            <div class="col-xs-6 col-md-6">
                <ul class="menutop">
                    <li>
                        <a href="">
                            <img src="images/menu1.svg" alt="" title="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/menu2.svg" alt="" title="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/menu3.svg" alt="" title="" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/menu4.svg" alt="" title="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row panelservicios" style="display: flex;align-items: center;height: 100vh; padding:0;">
            <div class="col-xs-12 col-md-4">
                <a href="#!/gnosispanel" class="logopanel">
                    <img src="images/gnosis-b.svg" alt="" title="" />
                </a>
                <div class="box">
                    <a href="#!analitycs"><h2>Conciliaciones y Bases de Datos</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#!/pretrade" class="logopanel">
                    <img src="images/telos-b.svg" alt="" title="" />
                </a>
                <div class="box">
                    <h2>Reportes Regulatorios y Riesgos</h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#!/pleromapanel" class="logopanel">
                    <img src="images/pleroma-b.svg" alt="" title="" />
                </a>
                <div class="box">
                    <h2>Business Analytics (BA)</h2>
                </div>
            </div>
        </div>
    </div>
</section>
