<div ng-include="'partials/menutoppleroma.html'"></div>

<section class="analytics contenido">
    <div class="container pleromapanel">
        <div class="col-md-12 gpa">
            <div class="container gnosispanel pleroma">
                <div class="row">
                    <div class="col-md-4">
                        <div align="center">
                            <a href="#!/pretrade">
                                <img src="images/change-b.svg"  alt="" title="">
                                <h3 class="tit">ANÁLISIS PRE-TRADE</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div align="center">
                            <a href="#!/ejecucion">
                                <img src="images/timer-b.svg" alt="" title="">
                                <h3 class="tit">ANÁLISIS EN EJECUCIÓN</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div align="center">
                            <a href="#!/analitycs">
                                <img src="images/posttrade.svg" alt="" title="">
                                <h3 class="tit">ANÁLISIS POST-TRADE</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
